* {
  margin: 0 auto;
  padding: 0;
}
body {
  height: auto;
  width: 100%;
  background: #333;
}
.nova-classe {
  opacity: 0;
}
a {
  font-size: 18px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  color: #030;
  text-decoration: none;
  outline: none;
  border: none;
}
.botao {
  float: left;
  padding: 0px;
  text-align: center;
  margin: 25px 10px 10px 10px;
}
.botao a {
  background: #990;
  border: none;
  color: #030;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  outline: none;
  padding: 10px 25px;
  text-decoration: none;
  width: 100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.botao a:hover {
  color: #7caf7c;
  background: #676700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #9C0;
  margin: 10px 0px 10px 10px;
}
p {
  margin: 10px 0px 10px 10px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #990;
}
ul.teste {
  width: 80px;
  border: 1px solid #333;
  padding: 10px 50px;
  background: #ffffff;
}
li.mudar {
  color: #f00;
  background: #333;
  list-style: none;
  margin: 3px 0;
}
